<!DOCTYPE html>
	<html>
	<head>
		<title>Login | Professor Gradebook</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

		<!-- Implement Django Version Soon -->
		<link rel="stylesheet" type="text/css" href="css/mystyles.css">

	</head>
	<body>

		<div class="container">
			<div class="container">
				<div class="row text-center fixed-top nav">
					<div class="col">
						<!-- Implement Django Version Soon for GraPy2.jpg logo <img src= alt='our logo' width="40%" height="60%">-->
						<img src="" alt='our logo' width="40%" height="60%">
						<!-- <h1>Professor Gradebook</h1> -->
						{% if error %}
						<h3 style="color: darkred; font-size: 26px;"> {{error}}</h3>
						{% endif %}
					</div>
				</div>
			</div>

				<!-- login section -->
			<form method="POST" action='/login' class="container login">
				<div class="row">
					<div class="col">
						<h6 id="login">Login</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-1 text-center">
						<input id="username" type="text" placeholder="Enter username" name="username" required>
					</div>
				</div>
				<div class="row">
					<div class="col-1 text-center">
						<input id="password" type="password" placeholder="Enter password" name="password" required>
					</div>
				</div>
				<div class="row">
					<div class="col-1 text-center">
						<input id="submit" type="submit" class="btn btn-default" value="Login">
					</div>
				</div>
			</form>

			<div class="container-fluid fixed-bottom footer">
				<div class="row">
					<div class="col-5 ml-auto">
						<p>Wanna contact us?<br>
								GraPy@python.py
						</p>

					 </div>
					<div class="col-4">
						<p>This website is open source. <br>Please use it and its source code as you see fit</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
